[submodule "gifts/lua-birthday-2021"]
	path = gifts/lua-birthday-2021
	url = https://github.com/FomTarro/luavlucky-birthday-2021.git
	branch = main
[submodule "pkmn/pkmn-stream-tools"]
	path = pkmn/pkmn-stream-tools
	url = https://github.com/FomTarro/pkmn-stream-tools.git
	branch = tournament-tracker
[submodule "pkmn/pkmn-tournament-overlay-tool"]
	path = pkmn/pkmn-tournament-overlay-tool
	url = https://github.com/FomTarro/pkmn-tournament-overlay-tool.git
	branch = pokepaste-support
