<div class="column fill">
    <div class="white item no-padding search-bar square-box">
        <div class="row" style="position: relative; align-items: center;">
            <div class="checker-border top"></div>
            <a href="#" onclick="document.getElementById('search-form').submit();" class="font-black fa-lg fa-solid fa-magnifying-glass search-icon"></a>
            <form id="search-form" class="search-form">
                <input name='tags' class="font-small search-input" type="text" placeholder="Search for specifics...">
            </form>
            <div class="checker-border bottom"></div>
        </div>
    </div>
    <div class="homepage-row">
        <div class="div1">
            <div class="column fill" id="list">
                <!-- Page content goes here -->
            </div>
        </div>
        <div class="div2 column">
            <div id="common-tags" class="dark item">
                <div class="darker item-label item">
                    <span class="highlight">Popular Tags</span>
                </div>
                <ul id="common-tags-list" class="font-tiny italic">

                </ul>
            </div>
        </div>
    </div>
</div>