<div class="column fill">
    <div class="white item no-padding">
        <form>
            <input name='tags' class="search-bar font-small" type="text" placeholder="Search for specifics...">
        </form>
    </div>
    <div class="homepage-row">
        <div class="div1">
            <div class="column fill" id="list">
                <!-- Page content goes here -->
            </div>
        </div>
        <div class="div2 column">
            <div id="common-tags" class="dark item">
                <div class="darker item-label item">
                    <span class="highlight">Popular Tags</span>
                </div>
                <ul id="common-tags-list" class="font-tiny italic">

                </ul>
            </div>
        </div>
    </div>
</div>