<div class="homepage-row">
    <div class="div1">
        <div class="dark item">
            <meta charset="utf-16"/>
            <div class="darker item-label item">
                <span class="highlight meta-date"></span>
            </div>
            <div>
                <h1 class="meta-title"></h1>
                <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div>
            </div>
            <div>
                <img class="meta-img thumbnail">
            </div>
            <div id="post-content">
                <!-- blog goes here -->
            </div>
            <hr>
            <div class="other-posts row">
                <div class="justify-left">
                    <div class="font-tiny">
                        <span>← </span><a class="newer-post-link">Newer</a>
                    </div>
                    <div id="newer-post">
                        <!-- newer -->
                    </div>
                </div>
                <div class="justify-right">
                    <div class="font-tiny">
                        <a class="older-post-link">Older</a><span> →</span>
                    </div>
                    <div id="older-post">
                        <!-- older -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div2 column">
        <!-- <div class="dark item">
            <div class="darker item-label item">
                <span class="highlight">Key Information</span>
            </div>
            <div class="contact-column">
                <div class="row contact-item">
                    <span>Release Date:</span> <span>Today</span>
                </div>
                <div class="row contact-item">
                    <span>Version:</span> <span>Today</span>
                </div>
                <hr>
                <div class="row contact-item">
                    <span>Platforms:</span> <span>Web</span>
                </div>
                <div class="row contact-item">
                    <span>Get it:</span> <span>Here</span>
                </div>
            </div>
        </div> -->
        <div class="dark item">
            <div class="darker item-label item">
                <span class="highlight">Related Blog Posts</span>
            </div>
            <div id="related-posts" class="contact-column">
                No posts found :[
                <!-- related blog posts go here -->
            </div>
            <hr>
            <div class="font-tiny">
                <span><a href="/projects">Check out all <span class="projects-total">0</span> related projects!</a> →</span>
            </div>
        </div>
    </div>
</div>