<!DOCTYPE html>
<html>
    <head>
        <title class='meta-title'>skeletom.net</title>
        <meta class='meta-title' property="og:title" content="skeletom.net">
        <meta class='meta-desc' name="description" content="Skeletom Dot Net: 'It's Dot Com!'">
        <meta class='meta-desc' property="og:description" content="Skeletom Dot Net: 'It's Dot Com!'">
        <meta class='meta-img' property="og:image" content="">
        <meta class='meta-img' name="twitter:image" content="">
        <meta property="og:type" content="website">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link rel="stylesheet" type="text/css" href='/css/style.css'>
    </head>
    <body>
        <main>
            <div class="column">
                <div class="row">     
                    <div class="white item header">
                        <span class="title">skeletom.net</span>
                        <div class="darker item-label-below item">
                            <span><a href="/">home</a> | <a href="/projects">projects</a> | <a href="/blogs">blogs</a> | <a href="/contact">contact</a></span>
                        </div>
                    </div>
                </div>
                <div class="dark item">
                    <div class="darker item-label item">
                        <span class="highlight meta-date"></span>
                    </div>
                    <div>
                        <h1 class="meta-title"></h1>
                        <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div>
                    </div>
                    <div id="content">
                        <!-- blog goes here -->
                    </div>
                    <hr>
                    <div class="other-posts row">
                        <div id="newer-post" class="other-post justify-left">
                            <div class="font-tiny">
                                <span>← </span><a id="newer-post-link">Newer</a>
                            </div>
                            <h5 id="newer-post-title">Title of Newer Article...</h5>
                            <img id="newer-post-img" class="other-post-img">
                        </div>
                        <div id="older-post" class=" other-post justify-right">
                            <div class="font-tiny">
                                <a id="older-post-link">Older</a><span> →</span>
                            </div>
                            <h5 id="older-post-title">Title of Older Article...</h5>
                            <img id="older-post-img" class="other-post-img">
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="dark item">
                        <div class="darker item-label item">
                            <span class="highlight">Older</span>
                        </div>
                        <div>
                            <h5>Summary Title</h5>
                            <p class="font-tiny">brief...</p>
                        </div>
                    </div>
                    <div class="dark item">
                        <div class="darker item-label item">
                            <span class="highlight">Newer</span>
                        </div>
                        <div>
                            <h5>Summary Title</h5>
                            <p class="font-tiny">brief...</p>
                        </div>
                    </div>
                </div> -->
            </div>
        </main>
    </body>
</html>
