<div class="dark item">
    <div class="darker item-label item">
        <span class="highlight meta-date"></span>
    </div>
    <div>
        <h1 class="meta-title"></h1>
        <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div>
    </div>
    <div id="content">
        <!-- blog goes here -->
    </div>
    <hr>
    <div class="other-posts row">
        <div id="newer-post" class="other-post justify-left">
            <div class="font-tiny">
                <span>← </span><a id="newer-post-link">Newer</a>
            </div>
            <h5 id="newer-post-title">Title of Newer Article...</h5>
            <img id="newer-post-img" class="other-post-img">
        </div>
        <div id="older-post" class=" other-post justify-right">
            <div class="font-tiny">
                <a id="older-post-link">Older</a><span> →</span>
            </div>
            <h5 id="older-post-title">Title of Older Article...</h5>
            <img id="older-post-img" class="other-post-img">
        </div>
    </div>
</div>