<div class="dark item">
    <meta charset="utf-16"/>
    <div class="darker item-label item">
        <span class="highlight meta-date"></span>
    </div>
    <div>
        <h1 class="meta-title"></h1>
        <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div>
    </div>
    <div>
        <img class="meta-img thumbnail">
    </div>
    <div id="post-content">
        <!-- blog goes here -->
    </div>
    <hr>
    <div class="other-posts row">
        <div id="newer-post" class="other-post justify-left">
            <div class="font-tiny">
                <span>← </span><a class="newer-post-link">Newer</a>
            </div>
            <a class="newer-post-link title-link"><h5 id="newer-post-title">Title of Newer Article...</h5></a>
            <a class="newer-post-link title-link"><img id="newer-post-img" class="other-post-img"></a>
        </div>
        <div id="older-post" class=" other-post justify-right">
            <div class="font-tiny">
                <a class="older-post-link">Older</a><span> →</span>
            </div>
            <a class="older-post-link title-link"><h5 id="older-post-title">Title of Older Article...</h5></a>
            <a class="older-post-link title-link"><img id="older-post-img" class="other-post-img"></a>
        </div>
    </div>
</div>