<div id="latest-post" class="dark item">
    <meta charset="utf-16"/>
    <div class="darker item-label item">
        <span class="highlight meta-date"></span>
    </div>
    <div>
        <a class="meta-self-link title-link"><h1 class="meta-title"></h1></a>
        <span class="font-tiny translucent italic">Last updated: <span class="meta-updated"></span></span>
        <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div>
    </div>
    <div>
        <a class="meta-self-link title-link"><img class="meta-img thumbnail"></a>
    </div>
    <p class="meta-desc">
        <!-- description -->
    </p>
    <hr>
    <div class="font-tiny">
        <span><a class="meta-self-link" href="/blogs">Continue Reading</a> →</span>
    </div>
</div>