<div class="homepage-row">
    <div class="div1">
        <div class="dark item">
            <meta charset="utf-16"/>
            <div class="darker item-label item">
                <span class="highlight meta-date"></span>
            </div>
            <div>
                <h1 class="meta-title"></h1>
                <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div>
            </div>
            <div>
                <img class="meta-img thumbnail">
            </div>
            <div id="post-content">
                <!-- blog goes here -->
            </div>
            <hr>
            <div class="other-posts row">
                <div class="justify-left">
                    <div class="font-tiny">
                        <span>← </span><a class="newer-post-link">Newer</a>
                    </div>
                    <div id="newer-post">
                        <!-- newer -->
                    </div>
                </div>
                <div class="justify-right">
                    <div class="font-tiny">
                        <a class="older-post-link">Older</a><span> →</span>
                    </div>
                    <div id="older-post">
                        <!-- older -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div2 column">
        <div id="key-information" class="dark item">
            <div class="darker item-label item">
                <span class="highlight">Key Information</span>
            </div>
            <div class="contact-column top-padding">
                <div class="row contact-item">
                    <span class="bold">Initial Release Date:</span> <span id="key-information-initial-release" class="highlight">Today</span>
                </div>
                <div class="row contact-item">
                    <span class="bold">Latest Release Date:</span> <span id="key-information-latest-release" class="highlight">Today</span>
                </div>
                <div class="row contact-item">
                    <span class="bold">Latest Version:</span> <span id="key-information-version" class="highlight">v1.0.0</span>
                </div>
                <hr>
                <div class="row contact-item">
                    <span class="bold">Platforms:</span> <span id="key-information-platforms" class="highlight">Web</span>
                </div>
                <div class="row contact-item">
                    <span class="fa fa-lg fa-link"></span> <a id="key-information-link">Here</a>
                </div>
            </div>
        </div>
        <div class="dark item">
            <div class="darker item-label item">
                <span class="highlight">Related <span class="related-classification">Works</span></span>
            </div>
            <div id="related-posts" class="contact-column">
                <!-- related blog posts go here -->
            </div>
            <hr>
            <div class="font-tiny">
                <span><a id="related-all" href="">Check out all <span class="related-posts-total">0</span> related <span class="related-classification">works</span>!</a> →</span>
            </div>
        </div>
    </div>
</div>