<div id="no-results" class="dark item">
    <div class="darker item-label item">
        <span class="highlight">Explore the directory!</span>
    </div>
    <div>
        <h1 class="meta-title">/directory/path</h1>
        <!-- <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div> -->
    </div>
    <p>
        <ul id="files"></ul>
    </p>
    <!-- <hr>
    <div class="font-tiny">
        <span><a class="meta-self-link" href="/blogs">Continue Reading</a> →</span>
    </div> -->
</div>