<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-16"/>
        <meta property="og:type" content="website">
        <meta name="twitter:card" content="summary">
        <title class='meta-title'>skeletom.net</title>
        <meta class='meta-title' name="twitter:title" content="skeletom.net">
        <meta name="twitter:site" content="@fomtarro">
        <meta class='meta-title' property="og:title" content="skeletom.net">
        <meta class='meta-desc' name="description" content='Official homepage of Tom "Skeletom" Farro. Cartoon in a cartoon graveyard.'>
        <meta class='meta-desc' property="og:description" content='Official homepage of Tom "Skeletom" Farro. Cartoon in a cartoon graveyard.'>
        <meta class='meta-desc' name="twitter:description" content='Official homepage of Tom "Skeletom" Farro. Cartoon in a cartoon graveyard.'>
        <meta class='meta-img' property="og:image" content="https://skeletom.net/img/skeletom_logo_small.png">
        <meta class='meta-img' name="twitter:image" content="https://skeletom.net/img/skeletom_logo_small.png">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <link rel="stylesheet" type="text/css" href='/css/style.css'>
        <link rel="stylesheet" type="text/css" href='/css/fontawesome.min.css'>
    </head>
    <body>
        <!-- <canvas id="blur" class="blur"></canvas> -->
        <main>
            <div class="column fill">
                <header class="row flex-center white title-main"> 
                    <div class="fullwidth-banner white">
                        <div class="checker-border top"></div>
                        <div class="checker-border bottom"></div>
                    </div>    
                    <div class="title-text flex-center">
                        <div class="flex-center square-box">
                            <!-- <span id="stamp" alt="Tom 'Skeletom' Farro"></span> -->
                            <img id="logo" src="/img/title.png" alt="Tom 'Skeletom' Farro">
                            <!-- <div class="title font-black italic">skeletom.net</div> -->
                        </div>
                        <div class="darker item-label-below item">
                            <span><a href="/">home</a> | <a href="/projects">projects</a> | <a href="/blogs">blogs</a> | <a href="/stream">streams</a></span>
                        </div>
                    </div>
                </header>
                <div class="column fill" id="body">
                    <!-- Page content goes here -->
                </div>
                <div class="flex-center center-align fill">
                    <div class="hitcounter white font-black bold font-tiny square-box fill">
                        <!-- <div class="checker-border top"></div>
                        <div class="checker-border bottom"></div> -->
                        <div class="small-padding fill">
                            <span class="italic translucent">This page has been viewed </span><span id="hitcounter-value" class="highlight regular">0️⃣</span><span class="italic translucent"> times!</span>
                        </div>
                    </div>
                </div>
                <footer id="footer" class="column gap-small fill flex-center">
                    <div class="row webring-tray fill flex-center">
                        <a href="https://warp.zone" target="_blank"><img src="https://warp.zone/Graphix/88x31/warpzone_button.gif"></a>
                        <a href="https://en.wikipedia.org/wiki/Utah_teapot" target="_blank"><img src="https://warp.zone/Graphix/88x31/utahButton.png"></a>
                        <!-- <img src="https://warp.zone/Graphix/88x31/chromespherebutton.gif"> -->
                        <a href="https://www.kyuppin.com" target="_blank"><img src="https://kyuppin.com/IMAGES/banners/kyuppin.gif"></a>
                        <a href="https://itswilliamleonard.neocities.org/" target="_blank"><img src="/img/88x31/williambutton.gif"></a>
                        <a href="https://stupah.carrd.co/" target="_blank"><img src="/img/88x31/bigham.gif"></a>
                        <a href="https://www.mew151.net/index.html" target="_blank"><img src="https://www.mew151.net/img/mew151_button.gif"></a>
                        <a href="https://dotlvl.neocities.org/" target="_blank"><img src="https://dotlvl.neocities.org/aboutme/dotlvlbutton.png"></a>
                        <!-- <img src="img/88x31/pokemon.gif"> -->
                        <a href="https://www.youtube.com/watch?v=9OmVRQGMKAg" target="_blank"><img src="/img/88x31/italian.gif"></a>
                        <img src="/img/88x31/anybrowser3.gif">
                        <a href="https://www.w3.org/TR/2011/WD-html5-20110405/" target="_blank"><img src="/img/88x31/valid-html5.gif"></a>
                        <a href="http://www.rssboard.org/rss-validator/check.cgi?url=https%3A//www.skeletom.net/rss/rss.xml" target="_blank"><img src="/img/88x31/valid-rss-rogers.png"/></a>
                    </div>
                    <div class="row webring-tray fill flex-center">
                        <a href="https://skeletom.net"><img src="/img/88x31/MOLTO_BENE.gif"></a>
                        <input id="widget-url" type="text" style="box-sizing: border-box; width: calc(176px + 1rem)" readonly value='<a href="https://skeletom.net"><img src="https://skeletom.net/img/88x31/MOLTO_BENE.gif"></a>'></input>
                    </div>
                    <div class="webring-nav">
                        <link rel="stylesheet" href="/css/vtuber.webring.css">
                        <div id='vtubers-on-neocities'>
                            <script type="text/javascript" src="https://vtubers.neocities.org/onionring-variables.js"></script>
                            <script type="text/javascript" src="/js/vtuber.webring.js"></script>
                          </div>
                    </div>
                    <script src="/js/hit.counter.js"></script>
                    <!-- <iframe class="hitcounter-frame" src="/hits?page=/blogs" title="..."></iframe> -->
                </footer>
            </div>
        </main>
    </body>
</html>
