<div id="no-results" class="dark item">
    <div class="darker item-label item">
        <span class="highlight">Wow! It's Nothing!</span>
    </div>
    <div>
        <h1>404! Not Found!</h1>
        <!-- <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div> -->
    </div>
    <p>
        The page you are looking for doesn't seem to exist.
    </p>
    <p>
        If you believe this to be an error, please <a href="mailto:tom@skeletom.net">contact Tom</a> and let him know!
    </p>
    <!-- <hr>
    <div class="font-tiny">
        <span><a class="meta-self-link" href="/blogs">Continue Reading</a> →</span>
    </div> -->
</div>