body {
  margin: 0;
  height: 100vh;
  color: #FFF;
}

main {
  background-color: #222;
  color: #FFF;
  height: 100%;
  width: 100%;
}

#navbar {
  height: 128px;
  position: fixed;
  bottom: 0;
  left: 0;
}

#navbar-links {
  margin-left: 200px;
}

#content-container {
  padding: calc(4*0.5em);
}

#about {
  background-color: red;
}

#home {
  background-color: blue;
}

.row {
  display: flex;
}

.icon {
  width: 12em;
  height: 12em;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #FFF;
  margin: 0.5em;
}

.fence {
  background-image: url("../img/fence.png");
  height: 18px;
  top: -18px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.tree {
  background-image: url("../img/tree.png");
  background-repeat: no-repeat;
  height: 400px;
  width: 300px;
  pointer-events: none;
  position: fixed;
}

#tree-top-left {
  transform: rotateZ(125deg);
  top: -225px;
  left: -225px;
}

#tombstone-bottom-left {
  position: absolute;
  top: -75px;
  left: -35px;
}

#tombstone-channel-name {
  position: absolute;
  color: #FFF;
  text-shadow: 1px 1px 1px #000;
}

.background {
  overflow: hidden;
  overflow-y: hidden;
  opacity: 0.85;
  z-index: -100;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/bg.png");
  animation: anim-scroll 16s linear infinite;
}

.center-align {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@keyframes anim-scroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -130px -130px;
  }
}
