@font-face {
  font-family: 'dustismo_romanregular';
  src: url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.eot');
  src: url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dustismoroman_regular_macroman/dustismoroman_regular_macromanDustismo_Roman-webfont.woff2') format('woff2'),
       url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.woff') format('woff'),
       url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.ttf') format('truetype'),
       url('../fonts/dustismoroman_regular_macroman/Dustismo_Roman-webfont.svg#dustismo_romanregular') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'dustismo_romanbold_italic';
  src: url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.eot');
  src: url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.woff2') format('woff2'),
       url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.woff') format('woff'),
       url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.ttf') format('truetype'),
       url('../fonts/dustismoroman_bolditalic_macroman/Dustismo_Roman_Italic_Bold-webfont.svg#dustismo_romanbold_italic') format('svg');
  font-weight: normal;
  font-style: normal;
}


html {
  color: white;
  font-family: 'dustismo_romanregular';
  font-size: min(2vmax, 1.5em);
}

a {
  color: #EBE563;
  text-decoration: underline;
  text-decoration-thickness: 8%;
  text-decoration-style: solid;
  text-underline-offset: 2px;
  transition: color 0.2s ease, text-decoration-color 0.2s ease, text-decoration-style 0.2s ease;
  text-decoration-color: #EBE563;
}

a:hover {
  color: white;
  text-decoration-color: white;
  text-decoration-style: dashed;
}

body {
  margin: 0;
  padding: 1em 2em 2em 2em;
  backdrop-filter: blur(1vmin);
  animation: anim-scroll 16s linear infinite;
  background: conic-gradient(#FEB3D0 25%, #F2C5D9 0 50%, #F0F2F1 0 75%, #F0DAE6 0) 0 0/20vmin 20vmin;
  box-sizing: border-box;
  height: inherit
}

hr {
  border: none;
  border-bottom: white 1px solid;
  opacity: 0.25;
  margin-top: 1em;
  margin-bottom: 1em;
}

h1 {
  margin-bottom: 0.1em;
}

h5 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.highlight {
  color: #EBE563;
}

.white {
  background-color: white;
}

.dark {
  background-color: #2E2D31;
}

.darker {
  background-color: #242328;
}

.italic{
  font-style: italic;
}

.regular {
  font-style: normal;
}

.column {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 3em;
  align-content: flex-start;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3em;
}

.other-post {
  flex: 1 1 0px;
  max-width: calc(50% - 1.5em);
}


.other-post-img {
  width: 50%;
  object-fit: scale-down;
}

.item {
  position: relative;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.45);
  padding: 5vmin;
  border-radius: 1.5em;
  box-sizing: border-box;
  width: 100%;
}

.item-label {
  padding: 0.75em 1.5em;
  position: absolute;
  top: -1.25em;
  left: -1em;
  height: 1em;
  width: fit-content;
  box-sizing: content-box;
  line-height: 1em;
  overflow-y: hidden;
  /* font-style: italic; */
}

.item-label-below {
  padding: 0.75em 1.5em;
  position: absolute;
  bottom: -1em;
  right: -1em;
  height: 1em;
  width: fit-content;
  box-sizing: content-box;
  line-height: 1em;
  overflow-y: hidden;
  /* font-style: italic; */
}

.header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  padding: 4.5vh;
}

.title {
  font-family: 'dustismo_romanbold_italic';
  font-size: 3vmax;
  font-style: italic;
  color: black;
}

.title-link {
  text-decoration: none;
  color: white;
}

.subtitle {
  font-style: italic;
}

.list {
  margin-left: 3vw;
  /* width: 75%; */
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2.2em;
  justify-content: space-evenly;
  align-items: center;
}

.twitch-item {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  z-index: 100;
}

.twitch {
  height: 64px;
  width: 64px;
  margin-right: 1em;
}

.tree {
  position: absolute;
  height: 15em;
  width: auto;
  z-index: 5;
}

#tree1 {
  transform: rotate(45deg);
  left: -5em;
  bottom: -8em;
}

#tree2 {
  transform: rotate(225deg);
  right: -5em;
  top: -8em;
}

.justify-left{
  text-align: start;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: flex-start;
}

.justify-right{
  text-align: end;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
}

.highlight {
  color: #EBE563;
}

.white {
  background-color: white;
}

.dark {
  background-color: #2E2D31;
}

.darker {
  background-color: #242328;
}

.font-large {
  font-size: 2.3em;
}

.font-medium {
  font-size: 1.75em;
}

.font-small {
  font-size: 1em;
}

.font-tiny {
  font-size: 0.65em;
}

.translucent {
  opacity: 0.5;
}

@keyframes anim-scroll {
  0% { background-position: 0px 0px; }
  100% { background-position: -80vmin -80vmin; }
}

/* taller than wide */
@media screen and (min-height: 100vw) {
  .other-posts {
    flex-direction: column;
  }
  .other-post {
    max-width: 100%
  }
  .other-post-img {
    width: 100%;
  }
}