<div class="homepage-row">
    <div class="dark item div1">
        <meta charset="utf-16"/>
        <div class="darker item-label item">
            <span class="highlight meta-date"></span>
        </div>
        <div>
            <h1 class="meta-title"></h1>
            <div class="translucent font-tiny italic"><span>Filed under: </span><span class="tags"></span></div>
        </div>
        <div>
            <img class="meta-img thumbnail">
        </div>
        <div id="post-content">
            <!-- blog goes here -->
        </div>
        <hr>
        <div class="other-posts row">
            <div class="other-post justify-left">
                <div class="font-tiny">
                    <span>← </span><a class="newer-post-link">Newer</a>
                </div>
                <div id="newer-post">
                    <!-- newer -->
                </div>
            </div>
            <div class="other-post justify-right">
                <div class="font-tiny">
                    <a class="older-post-link">Older</a><span> →</span>
                </div>
                <div id="older-post">
                    <!-- older -->
                </div>
            </div>
        </div>
    </div>
    <div class="dark item div2">
        <div class="darker item-label item">
            <span class="highlight">Related Blog Posts</span>
        </div>
    </div>
</div>